.file-input-warning .form-control {
  border-color: #FFA500 !important;
}
.file-input-warning .btn {
  border-color: #FFA500 !important;
  color: white !important;
}
.file-input-warning .btn {
  background-color: #f8c567 !important;
  border-color: #FFA500 !important;
  color: white !important;
}